*{
    margin: 0;
    padding: 0;
}

p{
    
    font-size: 2rem;
    text-align: center;
}

.navlist{
    display: flex;
    justify-content: space-around;
}



header{
    background-color: orange;
}
ul,li{
    list-style: none;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}
.genre{
    color: black;
}

.navlist li a:link, .navlist li a:visited{
    background-color: #82801974;
    border-radius: 30px;
}

.navlist li a:hover{
    background-color: red;
}

.navlist li a:active{
    background-color: red;
}

.navlist .genre{
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
}

.navlist .genre li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
}

.navlist .genre li a:link, .navlist li a:visited{
    display: block;
    color: #ffffff;
    text-decoration: none;

}

.navlist .genre li a:hover{
    background-color: black;
}

.navlist li:hover .genre{
    display: block;
}

form{
    margin-left: 42rem;

}

input{
    display: flex;
    padding: 0.5rem;
}

textarea{
    padding: 0.5rem;
    padding-left: 0.5;
}

button{
    padding: 0.5rem;
    border-radius: 30px;
    color: black;
    background-color: orange;
    margin-left: 2.5rem;
}

main{
    background-image: url("../img/VRAIfond.jpg");
}

.img_contact{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: black;
}

.foot {
    color: white;
}

.footlist{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.sousmenu1 a{
    color: white;
    font-size: 1.5rem;
}
.sousmenu2 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu3 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu4 a{
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
    ul{
        margin: auto;
    }
    p{
        margin-left: 0.9rem;
    }
    form{
        margin: auto;
        margin-left: 7rem;
    }
}