*{
    margin: 0;
    padding: 0;
}

p{
    
    font-size: 2rem;
    text-align: center;
}



form{
    margin-left: 42rem;

}

input{
    display: flex;
    padding: 0.5rem;
}

textarea{
    padding: 0.5rem;
}

button{
    padding: 0.5rem;
    border-radius: 30px;
    color: black;
    background-color: orange;
    margin-left: 2.5rem;
}

main{
    background-image: url("../img/VRAIfond.jpg");
}

.img_contact{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: black;
}

.foot {
    color: white;
}

.footlist{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.sousmenu1 a{
    color: white;
    font-size: 1.5rem;
}
.sousmenu2 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu3 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu4 a{
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
   
    form{
        
    }
}