*{
    margin: 0;
    padding: 0;
    
}
main{
    background-image: url("../img/VRAIfond.jpg");
}


header{
    background-color: orange;
}

.logo{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

input{
    display: flex;
    padding: 0.5rem;
}

form{
    margin-left: 42rem;
}

#co_ici{
    font-size: 1.5rem;
    margin-left: 42rem;
    color: darkcyan;
}

button{
    padding: 0.5rem;
    border-radius: 30px;
    color: black;
    background-color: orange;
    margin-left: 2.5rem;
}
a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.img_in{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer{
    background-color: black;
}

.foot {
    color: white;
}

.footlist{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.sousmenu1 a{
    color: white;
    font-size: 1.5rem;
}
.sousmenu2 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu3 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu4 a{
    color: white;
    font-size: 1.5rem;
}


@media screen and (max-width: 600px){
    ul{
        display: flex;
        flex-direction: column;
    }

    form{
        margin: 0rem;
        margin-left: 3rem;
    }
    button{
        margin-left: 2rem;
    }
    p{
        margin-left: 0.9rem;
    }
    .img_co{
        width: 20px;
    }
}