*{
    margin: 0;
}

main{
    background-image: url('../img/VRAIfond.jpg');
}

#inscrit_acceuil{
    color: darkseagreen;
}


p{
    font-size: 2rem;
    text-align: center;
}


.navlist{
    display: flex;
    justify-content: space-around;
}



header{
    background-color: orange;
}
ul,li{
    list-style: none;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}
.genre{
    color: black;
}

.navlist li a:link, .navlist li a:visited{
    background-color: #82801974;
    border-radius: 30px;
}

.navlist li a:hover{
    background-color: red;
}

.navlist li a:active{
    background-color: red;
}

.navlist .genre{
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
}

.navlist .genre li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
}

.navlist .genre li a:link, .navlist li a:visited{
    display: block;
    color: #ffffff;
    text-decoration: none;

}

.navlist .genre li a:hover{
    background-color: black;
}

.navlist li:hover .genre{
    display: block;
}

footer{
    background-color: black;
}

.foot {
    color: white;
}

.footlist{
    display: flex;
    justify-content: space-around;
}

.sousmenu1 a{
    color: white;
    font-size: 1.5rem;
}
.sousmenu2 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu3 a{
    color: white;
    font-size: 1.5rem;
}

.sousmenu4 a{
    color: white;
    font-size: 1.5rem;
}


@media screen and (max-width: 600px){
    header{
        width: 70vh;
    }

    main{
        width: 70vh;
    }

    footer{
        width: 70vh;
        
    }

    .footlist{
        font-size: 0.2rem;
        color: red;
    }
    .sousmenu1 li a, .sousmenu2 li a, .sousmenu3 li a, .sousmenu4 li a{
        font-size: 0.9rem;
    }
}