<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style/admin.css')}}">
    <title>Admin | Mangas Supremacy</title>
</head>
<body>
    <header>
        <div class="">
            <ul class="logo">
                <a href=""><img src="{{url_for('static', filename='img/logo.png')}}" alt="" width="22%"></a>
                <li><p id="padmin">Admin</p></li>
            </ul>  
        </div>
    </header>

    <main>
        <h1>Administrateur</h1>

        <ul>
            <li><h2>Les cookies/session</h2></li>
            <p>Vote reset</p>
            <li><form action="{{url_for('reset_vote')}}" method=""><button>Reset Vote</button></form></li>
        </ul>


    </main>
</body>
</html>