<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description"> 
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style/Contact_co.css')}}">
    <title>Contact | Mangas Supremacy</title>
</head>
<body>
    <header>
        <div >
            <nav>
                <ul class="navlist">
                    <a href="{{url_for('index_co')}}"><img src="{{url_for('static', filename='img/logo.png')}}" alt="" width="22%"></a> 
                    <li><a href="{{url_for('index_co')}}">Accueil</a></li>
                    <li><a href="">Mangas/Anime</a>
                        <ul class="genre">
                            <li><a href="{{url_for('mangas')}}">Mangas</a></li>
                            <li><a href="{{url_for('manwha')}}">Manhwa</a></li>
                            <li><a href="{{url_for('manhua')}}">Manhua</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('jeux')}}">Jeux</a></li>

                    <li><a href="{{url_for('contact_co')}}">Contact</a></li>

                    <li><form action="{{url_for('logout')}}" method=""><button id="deco">Deconnexion</button></form></li>
                    <img src="{{url_for('static', filename='img/user.png')}}" alt="" width="3%" height="2%">
                    <li><p id="user">{{nom}} {{prenom}}</p></li>
                    
                </ul>
            </nav>
        </div>       
    </header>

    <main>
        <form action="{{url_for('Contact')}}" method="POST" id="form">
            <h1>Contact</h1>
            <input type="text" id="nom" placeholder="Nom *" name="nom" required><br>
            <input type="email" id="email" placeholder="Email *" name="email" required><br>
            <input type="text" id="tel" placeholder="Tel(facultatif)" name="tel"><br>
            <textarea id="msg" rows="4" placeholder="Message *" name="msg" required></textarea><br>
            <button type="submit">Envoyer</button>
        </form>
        <p>Si vous souhaitez nous donner votre avis ou des idées le support de contact du site est a votre entiere disposition </p>
        <ul class="img_contact">
            <img src="{{url_for('static', filename='img/Goku.png')}}" alt="" width="20%">
            <img src="{{url_for('static', filename='img/Luffy.webp')}}" alt="" width="20%">
        </ul>
    </main>
    <footer>
        <div class="foot">
            <ul class="footlist">
                <li>Mangas supremacy
                <ul class="sousmenu1">
                    <li><a href="{{url_for('mangas')}}">Mangas</a></li>
                    <li><a href="{{url_for('manwha')}}">Manwha</a></li>
                </ul></li>
                <li>Compte
                    <ul class="sousmenu2">
                        <li><a href="{{url_for('connexion')}}">Connectez vous</a></li>
                        <li><a href="{{url_for('inscription')}}">Inscrivez vous</a></li>
                    </ul>
                </li>
                <li>Suivez nous
                    <ul class="sousmenu3">
                        <li><a href="https://www.facebook.com/">Facebook</a></li>
                        <li><a href="twitter.com">Twitter</a></li>
                        <li><a href="https://www.instagram.com/">Instagram</a></li>
                    </ul>
                </li>
                <li>Contact
                    <ul class="sousmenu4">
                        <li><a href="{{url_for('contact_co')}}">Contactez nous</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
