<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description"> 
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}"/>
    <title>Mangas Supremacy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/shonen.css')}}">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul class="navlist">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='img/logo.png')}}" alt="" width="22%"></a> 
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Mangas/Anime</a>
                        <ul class="genre">
                            <li><a href="{{url_for('shonen')}}">shonen</a></li>
                            <li><a href="{{url_for('seinen')}}">seinen</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('connexion')}}">Connexion</a></li>

                    <li><a href="{{url_for('inscription')}}">Inscription</a></li>

                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
            </nav>
        </div>       
    </header>

    <main>
        <h1>Les Seinen</h1>
        <p>#top seinen les plus populaires</p>

        <ul>
            <img src="{{url_for('static', filename='img/vinland.jpg')}}" alt="" width="20%"> <form id="lock1"><button type="submit">Voter</button></form>
            <li><a href="" onclick="alert('Veuillez vous connecter ou vous inscrire pour en savoir plus')">Vinland Saga</a></li>
            <hr>

            <img src="{{url_for('static', filename='img/berserk.jpg')}}" alt="" width="20%"> <form id="lock2"><button type="submit">Voter</button></form>
            <li><a href="" onclick="alert('Veuillez vous connecter ou vous inscrire pour en savoir plus')">Berserk</a></li>

            <hr>

            <img src="{{url_for('static', filename='img/monster.jpg')}}" alt="" width="20%"> <form id="lock3"><button type="submit">Voter</button></form>
            <li><a href="" onclick="alert('Veuillez vous connecter ou vous inscrire pour en savoir plus')">Monster</a></li>
            
        </ul>
    </main>

    <footer>
        <div class="foot">
            <ul class="footlist">
                <li>Mangas supremacy
                <ul class="sousmenu1">
                    <li><a href="{{url_for('shonen')}}">Shonen</a></li>
                    <li><a href="{{url_for('seinen')}}">Seinen</a></li>
                </ul></li>
                <li>Compte
                    <ul class="sousmenu2">
                        <li><a href="{{url_for('connexion')}}">Connectez vous</a></li>
                        <li><a href="{{url_for('inscription')}}">Inscrivez vous</a></li>
                    </ul>
                </li>
                <li>Suivez nous
                    <ul class="sousmenu3">
                        <li><a href="https://www.facebook.com/">Facebook</a></li>
                        <li><a href="twitter.com">Twitter</a></li>
                        <li><a href="https://www.instagram.com/">Instagram</a></li>
                    </ul>
                </li>
                <li>Contact
                    <ul class="sousmenu4">
                        <li><a href="{{url_for('contact')}}">Contactez nous</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>